span.it-scoppelletti-bottom {
    display: block;
    margin: 9em 1em 0 0.5em;
}
span.it-scoppelletti-copyright {
    display: block;
    margin: 0 4em 0 0;
    float: left;
}
span.it-scoppelletti-legal {
    display: block;
    text-align: right;
}
